.navbar{
    color:  #FF6060;
    display: flex;
   
}

.navbar ul {
    margin: 18px -420px -30px 418px;
}
  

// .navbarLogo p {
// white-space: nowrap;
// color: #FF6060;
// text-align: right;
// font-family: Montserrat;
// font-size: 24px;
// font-style: normal;
// font-weight: 500;
// line-height: 142.6%; 
// text-decoration: none;
// display: flex;
//     align-items: center;
// }